<div class="mt-3 px-4 flex justify-center items-center">
  <p class="w-full md:w-1/2">Voici la liste exhaustive des <span class="text-primary">éléments</span> actuellement disponibles sur le site dédié aux mangas.</p>
</div>
<div class="px-4 md:px-8 my-8 grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>

</div>
